.card{
    border: none;
}
.cardcoll{
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (max-width: 1250px) {
    .cardcoll{
        flex: 0 0 33%;
        max-width: 33%;
    }
}
@media (max-width: 900px) {
    .cardcoll{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 640px) {
    .cardcoll{
        flex: 0 0 100%;
        max-width: 100%;
    }
}